{% extends 'app/base.html' %}

{% block js %}
<script>
    function eliminarProducto(id){
        Swal.fire({
            "title":"¿Estas Seguro?",
            "text":"Esta acción no se puede deshacer",
            "icon":"question",
            "showCancelButton":true,
            "cancelButtonText":"No, Cancelar",
            "confirmButtonText":"Si, Eliminar",
            "reverseButtons":true,
            "confirmButtonColor":"red"
        })
        .then(function(result){
            if(result.isConfirmed) {
                window.location.href = "/eliminar-producto/"+ id +"/"
            }
        })
    }
</script>
{% endblock %}

{% block contenido %}
{% load humanize %}
<br>
<br>
<br>
<div class="card">
    <div class="card-body">
        <h2>Listado de productos</h2>
        <hr>
        <table class = "table table-striped table-hover table-responsive-sm">
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Marca</th>
                <th>Opciones</th>
            </tr>
            {% for p in productos %}
            <tr>
                <td>{{ p.nombre | title }}</td>
                <td>{{ p.precio | intcomma }}</td>
                <td>{{ p.marca | title }}</td>
                <td>
                    <a href="{% url 'modificar_producto' p.id %}" class = "btn btn-info btn-sm">modificar</a>
                    <a href="#" onclick = "eliminarProducto({{ p.id }})" class = "btn btn-danger btn-sm">eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}