{% extends 'app/base.html' %}
{% load static %}

{% block js %}
{% endblock %}

{% block css %}
{% endblock %}

{% block contenido %}

<h2>F.A.Q de nuestra tienda</h2>
<br><br>

<h4>¿Cómo encuentro el almacén Los Yuyitos?</h4>

<p>Estamos ubicados en avenida coquimbo con avenida Arturo Prat 4 #Comuna Santiago.
Puede ver la pestaña de Ubicación para mas información.</p> 

¿Hay promociones en los productos?

<p>Por el momento no tenemos promociones, solo valores unitarios.</p> 

¿Se pueden comprar productos directamente desde la página web?

<p>No, debe dirigirse a la tienda de forma prescencial y hablar con el empleado de turno ya que el tiene
acceso al sistema donde se puede generar la venta.</p>

¿Se pueden pedir productos fiados?

<p>Sí, pero estos deben ser aceptados solamente por la dueña del local (señora Juanita).</p>

¿Se puede dejar abonado un producto y pagarlo después?

<p>Sí.</p>

¿Es posible contactarme con ustedes?

<p>Puede contactarse con nosotros llamando a nuestros números telefónicos o puede enviarnos un formulario
con la solicitud deseada. Puede ver la pestaña Contactanos para mas información.</p>

¿Qué dias está abierto el almacén?

<p>El almacén está abierto todos los dias de lunes a domingo pero existe un horario distinto para la semana 
y el findesemana. Puede ver la pestaña horarios para mas información.</p>

¿Como puedo ver los productos disponibles del almacén?

<p>Puede ver los productos disponibles al ingresar a la página</p>

{% endblock %}